a{
    text-decoration: none;
    color: darkblue;
}
.wrapper{
    background: silver;
    width: 1200px;
    margin: 10px auto;
}
.user{
    background: lightblue;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}
.post{
    background: lightpink;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}
.comment{
    background: #f4e2fa;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}